div.conteine{
    background-color: bisque;
    display: flex;
    flex-direction: column-reverse;
   
}
div.itens{
 background-color: lightskyblue;
 border: 2px solid black;
 text-align: center;
padding: 10px;
}