div.conteiner{
    border: 3px solid blue;
    display: grid;
    height: 250px;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
     gap: 10px; 
     align-items: normal; 
    justify-items: normal;
    align-content: normal;
    justify-content: normal;
} 

div.item{
    border: 3px solid red;
}