div.conteiner{
    border: 3px solid blue;
    display: grid;
    height: 250px;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    gap: 5px;
}

div.item{
    border: 3px solid red;
}