div.conteine{
    background-color: rgb(206, 133, 31);
    display: flex;
   flex-flow: row wrap;
   
}
div.itens{
 background-color: lightskyblue;
 border: 2px solid black;
 text-align: center;

 flex-basis: 150PX;
}
div#i1{

}
div#i2{
  
}
div#i3{
   
}
div#i4{
  
}
div#i5{
   
}
div#i6{
    
}
div#i7{
  
}
