div.conteine{
    background-color: rgb(206, 133, 31);
    display: flex;
   align-items: flex-start;
   height: 400px;
   flex-flow: row wrap;
   
}
div.itens{
 background-color: lightskyblue;
 border: 2px solid black;
 text-align: center;
 padding: 20px;
}
div#i1{

}
div#i2{
   align-self: auto;
}
div#i3{
    align-self: flex-end;
}
div#i4{
  
}
div#i5{
   align-self: center;
}
div#i6{
    
}
div#i7{
  align-self: stretch;
}
