.container{
    display: grid;
    grid-template-rows: repeat(3,100px) ;
    grid-template-columns: repeat(4,1fr);
    gap: 5px;
}
.caixa1{
    background-color: rgb(244, 147, 200);
    grid-area: 1 / 1 / 2 / 5;
}
.caixa2{
    background-color: aquamarine;
    grid-area: 2 / 1 / 4 / 3;
   

}
.caixa3{
    background-color: cadetblue;
    grid-row: 2/-1;
    grid-column: 3/-1;
    grid-area: 2 / 3 /-1 /-1 ;

}