div.conteiner{
    border: 3px solid blue;
    display: grid;
    height: 250px;
    grid-template: repeat(3,auto) / repeat(3,auto);
    gap: 10px; 
    place-items: start center;
    align-content: space-between;
    justify-content: end;
    place-content: space-between end;
} 

div.item{
    border: 3px solid red;
    padding: 5px;
}